@model  Vidly.Models.Customer
@{
    ViewBag.Title = "Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

 

<ul class="list-group">
        <li class="list-group-item">@Model.Name</li>
        <li class="list-group-item">@(!Model.birthdate.Equals("") ? Model.birthdate.ToString() :"")</li>
</ul>

